<mat-toolbar>
  <span>Visualization</span>
  <button mat-button
          (click)="setOscillator()">Oscillator</button>
  <button mat-button
          (click)="setSpectrum()">Spectrum Analyzer</button>
</mat-toolbar>
<ng-container *ngIf="trackService.track$ | async as track">
  <section fxLayout="column"
           fxLayoutAlign="center center">
    <canvas #visualizer
            [style.width.px]="420"
            [style.height.px]="120"></canvas>
    <audio-player [track]="track"
                  [progress]="audioService.progress"
                  [duration]="audioService.duration"
                  [playing]="audioService.playing"
                  [muted]="audioService.muted"
                  [gain]="audioService.gain"
                  (initialized)="initializeAudio($event, track)"
                  (scan)="audioService.scanTrack($event)"
                  (togglePlay)="audioService.togglePlayback()"
                  (toggleMute)="audioService.toggleMute()"
                  (previous)="previous()"
                  (next)="next()"
                  (volume)="audioService.updateVolume($event)"></audio-player>
  </section>
</ng-container>
